---
layout: default
title: Pruebas pag principal
permalink: /jhjbdfkjfbvkdajvbñadkfjbvlasjbfiabilus/
---
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    @media (max-width: 992px) {
      .row .col.m6 {
        width: 100% !important;
      }
    }
  </style>
</head>

<div class="no-pad-top" id="index-page">
  <div class="prelis25-container">
    <div class="indexpage-sidebar">
        <ul>
          {% for year in site.data.IndexPage.PostsList %}
            {% for item in year["2026"] limit:3 %}
              <li>
                <a href="{{ item.url }}">
                  <p>{{ item.text }}</p>
                  {% if item.video %}
                  <video width="100%" height="auto" autoplay muted loop>
                    <source src="{{ item.image }}" type="video/mp4">
                    Tu navegador no soporta videos.
                  </video>
                  {% else %}
                  <img src="{{ item.image }}" alt="{{ item.text }}">
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
        <h5><strong>Lo último del blog:</strong></h5>
        <ul>
        {% for post in site.categories.blog limit:3 %}
          <li>
            <a href="{{ post.url }}">
              {% if post.cover %}
                <img src="{{ post.cover }}" alt="Portada {{ post.title }}">
              {% else %}
                <img src="/img/logos/gdee-rsef-white-background.png" alt="Logo GDEE" style="opacity:0.7;">
              {% endif %}
              <p>{{ post.title }}</p>
              <span>{{ post.date | date: "%d/%m/%Y" }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="prelis25-content">

      <!-- LOGO & CONÓCENOS VIDEO -->
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
	    <img id="index-top-logo" src="/img/logos/gdee-rsef.png" alt="Logo Estudiantes RSEF" style="width:100%"> 
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
	          <iframe width="100%" height="270" src="https://www.youtube.com/embed/B327Xucbb30?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!--   ICON SECTION   -->
       
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center">Grupo de Estudiantes RSEF</h2>
            <p class="light" align="justify">El Grupo de Estudiantes de la Real Sociedad Española de Física busca reunir a todos los estudiantes de física de España, proporcionarles nuevas oportunidades a nivel nacional e internacional y ayudar a mejorar la divulgación de la física y su enseñanza.</p>
          </div>
	  <div class="center">
	    <a href="{{ site.url }}/about/" id="about-button" class="btn-gdee">Conócenos</a>
	  </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center">IAPS</h2>
            <p class="light" align="justify">La Asociación Internacional de Estudiantes de Física promueve desde 1987 la colaboración entre estudiantes y asociaciones de física a nivel mundial. Sus miembros están representados por comités nacionales y locales. Entre todos, IAPS representa a más de 60.000 estudiantes.</p>
          </div>
          <div class="center">
	    <a href="https://www.iaps.info/" target="_blank" id="iaps-button" class="btn-gdee">Descubre IAPS</a>
          </div>
        </div>
      </div>
    </div>  
 
<!--PUBLICACIONES-->
<div class="publicaciones-movil-indexpage">
  
  <div class="publicaciones-row">
    {% for year in site.data.IndexPage.PostsList %}
      {% for item in year["2026"] limit:5 %}
        <div class="publicacion">
          <a href="{{ item.url }}">
            <p>{{ item.text }}</p>
            {% if item.video %}
              <video width="100%" height="auto" autoplay muted loop>
                <source src="{{ item.image }}" type="video/mp4">
                Tu navegador no soporta videos.
              </video>
            {% else %}
              <img src="{{ item.image }}" alt="{{ item.text }}">
            {% endif %}
          </a>
        </div>
      {% endfor %}
    {% endfor %}
  </div> <h5><strong>Lo último del blog:</strong></h5>

  <div class="publicaciones-row">
    {% for post in site.categories.blog limit:3 %}
      <div class="publicacion">
        <a href="{{ post.url }}">
          {% if post.cover %}
            <img src="{{ post.cover }}" alt="Portada {{ post.title }}">
          {% else %}
            <img src="/img/logos/gdee-rsef-white-background.png" alt="Logo GDEE" style="opacity:0.7;">
          {% endif %}
          <p>{{ post.title }}</p>
          <!--<span>{{ post.date | date: "%d/%m/%Y" }}</span>-->
        </a>
      </div>
    {% endfor %}
  </div>

</div>



    <!-- EVENT SECTION -->
  <div class="section">
    <h3>
      Nuestros eventos
    </h3>
    <p>
      El Grupo de Estudiantes de la RSEF organiza actividades para estudiantes de física españoles y les ofrece la posibilidad de participar en todos los eventos abiertos a miembros de IAPS. ¿Que cuáles son esos eventos, preguntas? ¡Echa un vistazo!
    </p>
      <div class="row">
        <div class="col s12 m7">
          <ul class="slider" id="foto-eventi">
            <ul class="slides">
              {% assign loopindex = 0 %}
              {% assign array = site.events | reverse %}
              {% for event in array %}
                {% if event.categories contains "eventos-nacionales" or "eventos-internacionales" or "eventoespecial" %}
                  <li href="{{ event.site }}">
                    <a href="{{ event.site }}">
                      <img src="{{ event.cover }}" alt="{{ event.title }}">
                    </a>
                    <div class="caption left-align">
		      {% if event.shorttitle %}
                    	<h4>{{ event.shorttitle }}</h4>
		      {% else %}
                    	<h4>{{ event.title }}</h4>
		      {% endif %}
		      {% if event.hidedataincover == "Yes" %}
		      {% else %}
                    	<p class="white-text">
				{{ event.place }},
                        	<br>
                        	{{ event.startingdate | date: '%b %Y' }}
                        </p>
		      {% endif %}
                    </div>
                  </li>
                  {% assign loopindex = loopindex | plus: 1%}
                {% endif %}
<!-- NUMBER OF SLIDES ON INDEX -->
                {% if loopindex == 4 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            </ul>
          </ul>
        </div>
        <div class="col s12 m5">
		      {% include eventos-pagina-principal.html %}
        </div>
      </div>
    </div>

    </div>
  </div>
</div>  


<!-- SPECIAL EFFECTS - USE ONLY 1 DEPENDING ON THE EVENT -->
<!-- WINTER SOLSTICE % include_relative effects/snowflakes.html %} -->
{% include eventos-pagina-principal-modal.html %}
{% include schema.html %}
