{% if include.sponsors %}
  {% for sponsor in include.sponsors %}
    <h2 class="patrocinadores-title level-{{ sponsor.level }}">{{ sponsor.section }}</h2>
    <div class="patrocinadores-container level-{{ sponsor.level }}">
      <div class="patrocinadores-item">
        {% if sponsor.link %}
          <a href="{{ sponsor.link }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
          </a>
        {% else %}
          <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}