<div class="section">
<!-- Sección Organizadores -->
{% assign organizers = include.sponsors | where: "type", "Organizer" %}
{% if organizers.size > 0 %}
  <h2>Organizadores</h2>
  <div class="patrocinadores-container organizers">
    {% for sponsor in organizers %}
    <div class="patrocinadores-item">
      {% if sponsor.link %}
        <a href="{{ sponsor.link }}" target="_blank" rel="noopener">
          <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      {% else %}
        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

{% assign principals = include.sponsors | where: "type", "Principal" %}
{% if principals.size > 0 %}
  <h2>Patrocinadores Principales</h2>
  <div class="patrocinadores-container organizers">
    {% for sponsor in principales %}
    <div class="patrocinadores-item">
      {% if sponsor.link %}
        <a href="{{ sponsor.link }}" target="_blank" rel="noopener">
          <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      {% else %}
        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

<!-- Sección Patrocinadores Oro -->
{% assign goldSponsors = include.sponsors | where: "type", "Gold" %}
{% if goldSponsors.size > 0 %}
  <h2>Patrocinadores Oro</h2>
  <div class="patrocinadores-container gold">
    {% for sponsor in goldSponsors %}
    <div class="patrocinadores-item">
      {% if sponsor.link %}
        <a href="{{ sponsor.link }}" target="_blank" rel="noopener">
          <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      {% else %}
        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

<!-- Sección Patrocinadores Plata -->
{% assign silverSponsors = include.sponsors | where: "type", "Silver" %}
{% if silverSponsors.size > 0 %}
  <h2>Patrocinadores Plata</h2>
  <div class="patrocinadores-container silver">
    {% for sponsor in silverSponsors %}
    <div class="patrocinadores-item">
      {% if sponsor.link %}
        <a href="{{ sponsor.link }}" target="_blank" rel="noopener">
          <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      {% else %}
        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

<!-- Sección Patrocinadores Bronce -->
{% assign bronzeSponsors = include.sponsors | where: "type", "Bronze" %}
{% if bronzeSponsors.size > 0 %}
  <h2>Patrocinadores Bronce</h2>
  <div class="patrocinadores-container bronze">
    {% for sponsor in bronzeSponsors %}
    <div class="patrocinadores-item">
      {% if sponsor.link %}
        <a href="{{ sponsor.link }}" target="_blank" rel="noopener">
          <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      {% else %}
        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

</div>