<!-- Sección Organizadores -->
<div class="section">
	<h2>Organizadores</h2>
	<div class="patrocinadores-container organizers">
	  {% assign organizers = include.sponsors | where: "type", "Organizer" %}
	  {% for sponsor in organizers %}
		<div class="patrocinadores-item">
		  <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="materialboxed">
		</div>
	  {% endfor %}
	</div>
  </div>
  
  <!-- Sección Patrocinadores Oro -->
  <div class="section">
	<h2>Patrocinadores Oro</h2>
	<div class="patrocinadores-container gold">
	  {% assign goldSponsors = include.sponsors | where: "type", "Gold" %}
	  {% for sponsor in goldSponsors %}
		<div class="patrocinadores-item">
		  <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="materialboxed">
		</div>
	  {% endfor %}
	</div>
  </div>
  
  <!-- Sección Patrocinadores Plata -->
  <div class="section">
	<h2>Patrocinadores Plata</h2>
	<div class="patrocinadores-container silver">
	  {% assign silverSponsors = include.sponsors | where: "type", "Silver" %}
	  {% for sponsor in silverSponsors %}
		<div class="patrocinadores-item">
		  <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="materialboxed">
		</div>
	  {% endfor %}
	</div>
  </div>
  
  <!-- Sección Patrocinadores Bronce -->
  <div class="section">
	<h2>Patrocinadores Bronce</h2>
	<div class="patrocinadores-container bronze">
	  {% assign bronzeSponsors = include.sponsors | where: "type", "Bronze" %}
	  {% for sponsor in bronzeSponsors %}
		<div class="patrocinadores-item">
		  <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="materialboxed">
		</div>
	  {% endfor %}
	</div>
  </div>