<div class="section">

    <h2>Organizers:</h2>
    <div class="row">
        <div class="col s12 m6 l4">
            <img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png"
                alt="Grupo de Estudiantes de la RSEF">
        </div>
        <div class="col s12 m6 l4">
            <img id="logo EPS-YM" class="materialboxed" width="100%"
                src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png"
                alt="European Physical Society - Young Minds">
        </div>
        <div class="col s12 m6 l4">
            <img id="logo IAPS" class="materialboxed" width="100%" src="/img/iapsnew.png"
                alt="International Association of Physics Students">
        </div>
        <div class="col s12 m6 l4">
            <img id="logo AEFA" class="materialboxed" width="100%"
                src="/Delegaciones/Oviedo/img/2025-Nanoparadise/AEFA.png"
                alt="Asociacion de Estudiantes de Física de Asturias">
        </div>
    </div>

    <h2>Colaborators:</h2>
    <div class="row">
        <div class="col s6 m3 l3">
            <img id="logo UniOvi" class="materialboxed" width="100%"
                src="/img/eventos/2023-ENEF/Patrocinadores/UniOvi.png" alt="Universidad de Oviedo">
        </div>
        <div class="col s6 m3 l3">
            <img id="CINN" class="materialboxed" width="100%" src="/Delegaciones/Oviedo/img/2025-Nanoparadise/Cinn.png"
                alt="Centro de Investigacion en Nanomatriales y Nanotecnologia">
        </div>
    </div>
    <!--   
    <div class="row">
        <div class="col s6 m3 l3">
            <img id="logo ArcelorMittal" class="materialboxed" width="100%"
                src="/img/eventos/2023-ENEF/Patrocinadores/ArcelorMittal.png" alt="ArcelorMittal">
        </div>
        <div class="col s6 m3 l3">
            <img id="Fuensanta" class="materialboxed" width="100%"
                src="img/eventos/2023-ENEF/Patrocinadores/AguasdeFuensanta.png"
                alt="Fuensanta">
        </div>
        <div class="col s6 m3 l3">
            <img id="Cafes el Globo" class="materialboxed" width="100%"
                src="/img/eventos/2024-ENEF/Patrocinadores/ElGloboV2.png"
                alt="Cafes el Globo">
        </div>
    </div>
    -->
</div>

<!--
<div class="section" id="content-mobile">
   
    <h2>Organizers:</h2>
    <div class="row">
        <div class="col s12 m6 l4">
            <img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png"
                alt="Grupo de Estudiantes de la RSEF">
        </div>
        <div class="col s12 m6 l4">
            <img id="logo EPS-YM" class="materialboxed" width="100%"
                src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png"
                alt="European Physical Society - Young Minds">
        </div>
        <div class="col s12 m6 l4">
            <img id="logo IAPS" class="materialboxed" width="100%" src="/img/iaps.png"
                alt="International Association of Physics Students">
        </div>
        <div class="col s12 m6 l4">
            <img id="logo AEFA" class="materialboxed" width="100%"
                src="/Delegaciones/Oviedo/img/2025-Nanoparadise/AEFA.png"
                alt="Asociacion de Estudiantes de Física de Asturias">
        </div>
    </div>

    <h2>Colaborators:</h2>
    <div class="row">
        <div class="col s6 m3 l3">
            <img id="logo UniOvi" class="materialboxed" width="100%"
                src="/img/eventos/2023-ENEF/Patrocinadores/UniOvi.png" alt="Universidad de Oviedo">
        </div>
        <div class="col s6 m3 l3">
            <img id="CINN" class="materialboxed" width="100%" src="/Delegaciones/Oviedo/img/2025-Nanoparadise/Cinn.png"
                alt="Centro de Investigacion en Nanomatriales y Nanotecnologia">
        </div>
    </div>

    <div class="row">
        <div class="col s6 m3 l3">
            <img id="logo ArcelorMittal" class="materialboxed" width="100%"
                src="/img/eventos/2023-ENEF/Patrocinadores/ArcelorMittal.png" alt="ArcelorMittal">
        </div>
        <div class="col s6 m3 l3">
            <img id="Fuensanta" class="materialboxed" width="100%"
                src="img/eventos/2023-ENEF/Patrocinadores/AguasdeFuensanta.png"
                alt="Fuensanta">
        </div>
        <div class="col s6 m3 l3">
            <img id="Cafes el Globo" class="materialboxed" width="100%"
                src="/img/eventos/2024-ENEF/Patrocinadores/ElGloboV2.png"
                alt="Cafes el Globo">
        </div>
    </div>

</div>
-->
