---
layout: plancks25
title: PLANCKS Barcelona 2025
hidden: True
permalink: /PLANCKS25/Exams
---

<div class="no-pad-top" id="index-page">
  <div class="container">
    <!-- INTRODUCTION SECTION -->
    <div class="section">
      <!-- BANNER -->
      <img class="materialboxed" width="100%" src="/img/eventos/2025-PLANCKS/PLANCKS25_Banner.png">

      <h4>Practice with previous PLANCKS exams!</h4>
      <p style="text-align: justify;">Want to prepare for PLANCKS? Check out the exams from previous editions. Click on any exam to download it!</p>
    </div>

    <!-- EXAMS SECTION -->
    <div class="section">
      <div class="exams-grid">
        {% for item in site.data.PLANCKS25.multiple.exams %}
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card plancks25-card">
                  <div class="card-body text-center">
                    <img class="img-fluid" src="{{ item.img }}" alt="{{ item.name }}">
                    <h4 class="card-title">{{ item.name }}</h4>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card plancks25-card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">{{ item.name }}</h4>
                    <a href="{{ item.link }}" class="btn btn-plancks25" target="_blank">Check the exam!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- SPONSORS -->
    <div class="section">
      {% include patrocinadores.html sponsors=site.data.PLANCKS25.multiple.sponsors %}    
    </div>
  </div>
</div>