---
layout: enef
title: Encuentro Nacional de Estudiantes de Física 2025
hidden: true
permalink: /ENEF2025/programa/
description: "Descubre el programa y los ponentes del ENEF2025!"
---

<div class="no-pad-top" id="index-page">
  <div class="container">  
    <div class="section">
      <!-- BANNER -->
      <img class="materialboxed" width="100%" src="/ENEF/2025/img/ENEF25_Banner.png">
    </div>
      <!-- PROGRAMA -->
    <div class="section">
      <h4 id="programa">Programa</h4>
      <p style="text-align: justify;">¡Ya está aquí el programa del ENEF! ¿Te lo vas a perder? Consulta el resto de información en la <a href="{{ site.url }}/ENEF2025" class="enef25-link">web del ENEF</a>.</p>
      <div class="section" id="content-desktop">
        <h5>Haz clic en la imagen para ver el programa en tamaño completo</h5>  	
        <div class="row">
          <img class="materialboxed" width="80%" src="/ENEF/2025/img/ENEF25_Programa.png">
        </div>	 
      </div>
      <div class="section" id="content-mobile">
        <div class="row">
          <img class="materialboxed" width="100%" src="/ENEF/2025/img/ENEF25_Programa.png">
        </div>
      </div>
    </div>  

    <!-- Ponentes-->
    <div class="section enef25-speakers">
        <h3 id="ponentes">En el ENEF contaremos con...</h3>
        <p style="text-align: justify;">¡Descubre los mejores ponentes que nos acompañarán durante el ENEF!</p>
    
        <div class="row">
          {% for speaker in site.data.ENEF.2025.speakers %}
          <div class="responsive-column">
            <div class="card speaker-card">
              <div class="card-top">
                <div class="speaker-image">
                  {% if speaker.image and speaker.image != "" %}
                    <img src="{{ speaker.image }}" alt="{{ speaker.name }}" class="circle responsive-img">
                  {% else %}
                    <div class="placeholder-image circle">
                      <i class="fa fa-user" style="font-size: 3rem; color: #666;"></i>
                    </div>
                  {% endif %}
                </div>
                <div class="speaker-info">
                  <h4 class="card-title">{{ speaker.name }}</h4>
                  <p class="grey-text">{{ speaker.institution | markdownify }}</p>
                  <p class="grey-text">{{ speaker.role }}</p>
                  {% if speaker.talk_title != "" or speaker.talk_time != "" %}
                  <div class="talk-info">
                    {% if speaker.talk_title != "" %}<strong>Charla:</strong> {{ speaker.talk_title }}<br>{% endif %}
                    {% if speaker.talk_time != "" %}<strong>Cuándo:</strong> {{ speaker.talk_time }}{% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="card-bottom">
                <p class="bio">{{ speaker.bio | markdownify }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
   
      </div>
    {% include patrocinadores.html sponsors=site.data.ENEF.2025.patrocinadores %}  
  </div>
</div>
