
.blog {
    .img-left, .img-right {
    height: auto;
    width: auto;
    max-width: 45%;
    max-height: 250px; // Adjust this value based on typical text block height
    object-fit: contain;
    margin: 0.5em;
  }

  .img-left {
    float: left;
    margin-right: 1.5em;
  }

  .img-right {
    float: right;
    margin-left: 1.5em;
  }

  .img-center {
    display: block;
    margin: 1em auto;
    width: 60%;
    max-width: 600px;
  }

  .img-center-large {
    display: block;
    margin: 1em auto;
    width: 80%;
    max-width: 800px;
  }
 .figcaption {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-style: italic;
      color: #555;
    }
  /* Utilidad para limpiar floats */
  .clearfix {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}


